{% load static %}
{% load compress %}

<!--
tive dificuldades em carregar os estilos de css tipo sass, instalei molulos e ajustei algumas configuraçoes depois rodei collectstatic
tambem aprendi a trabalhar com template extending dividindo toda a minha home em arquivos separados, o que fica mais facil fazer alteraçoes
e tambem fica melhor legivel, acho que isso deve ser do python -->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="HVAC Template">
    <meta name="keywords" content="HVAC, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HVAC | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">

{% compress css %}
    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/x-scss">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/x-scss">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/x-scss">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/x-scss">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/x-scss">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/x-scss">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/x-scss">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/x-scss">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/x-scss">
{% endcompress %}

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>





{% include 'includes/topbar.html' %}
{% include 'includes/navbar.html' %}


{% block content %}
{% endblock %}



{% include 'includes/footbar.html' %}







<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->



    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
